<!DOCTYPE html>

<html>
	<head>
		<meta charset="utp-8">
		<title>{{pageTitle}}</title>
	</head>

	<body>
		{{>header}}
		<h2>Home Page</h2>
		<!-- <footer>
			<p>Copyright {{currentYear}}</p>
		</footer> -->

		{{>footer}}
	</body>
</html>