<!DOCTYPE html>

<html>
	<head>
		<meta charset="utp-8">
		<title>Some Website</title>
	</head>

	<body>
		
		<h1>We will be right back</h1>
		<p>
			This is being currenlty updating...
		</p>
	</body>
</html>